{% extends 'base.html' %}

{% block title %}Filtered{% endblock %}
{% block content_block %}
     {%if messages %}

       {% for message in messages %}
           <div class="alert alert-success">

                <strong>Success!</strong> {{message}}

          </div>
       {% endfor%}

    {% endif %}

    {% if weather_data %}
        <table class="table table-hover">
             {% for weather in weather_data %}
                    <tr>
<!--                    <td > {{ weather.city }} has temperature: {{ weather.temperature }} and  {{ weather.description }} </td>-->
                    <td > {{ weather.city }} has temperature: {{ weather.temperature }} </td>
                    </tr>
            {% endfor %}

        </table>
    {% endif %}

{% endblock %}